/* Reset some default browser styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.hero-section {
    background: linear-gradient(135deg, #007bff, #6c757d);
    color: white;
    text-align: center;
    padding: 40px 20px;
}

h1, h2, h3 {
    color:black;
}


header {
    background-color:rgb(118, 161, 255);
    color: white;
    padding: 20px 0;
    text-align: center;
}

.concert-card {
    background-color:rgb(228, 120, 58);
    border: 1px solid #ccc;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.concert-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
