/* Reset some default browser styles */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b8d9e6;
    color: rgb(255, 239, 91);
}

h1, h2, h3 {
    color:black;
}


header {
    background-color:rgb(252, 139, 186);
    color: white;
    padding: 20px 0;
    text-align: center;
}

.concert-card {
    background-color:rgb(228, 120, 58);
    border: 1px solid #ccc;
    padding: 20px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.concert-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
